spring.application.name=omop_group_project

# Connection dialect
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect

# Connection modality
spring.datasource.url=jdbc:postgresql://[HOST_NAME]:[PORT]/[DB_NAME]
spring.datasource.username=[USERNAME]
spring.datasource.password=[PASSWORD]

